{{#if isStartButtonVisible}}
    <button {{action 'gameStart'}}>start</button>
{{/if}}

{{#if isResumeButtonVisible}}
    <button {{action 'gameResume'}}>resume</button>
{{/if}}

{{#if isPauseButtonVisible}}
    <button {{action 'gamePause'}}>pause</button>
{{/if}}

{{#if isBoardVisible}}
    <div class="board">
        {{#each block in board.blocks}}
            <div class="block">
                {{#each cell in block.cells}}
                    {{view 'cell' cell=cell}}
                {{/each}}
            </div>
        {{/each}}
    </div>

    <button {{action 'gameEnd'}}>end</button>
{{/if}}